RewriteEngine on
Options -Indexes +FollowSymLinks -MultiViews

AddType text/cache-manifest .manifest
AddDefaultCharset UTF-8

### OPTIONAL: Add htaccess-redirect-http
### BEGIN http-redirect
### END http-redirect

### OPTIONAL: Add htaccess-redirect-https
### BEGIN https-redirect
### END https-redirect

### OPTIONAL: Add htaccess-security-banlist
### BEGIN security-banlist
# Block Greasy Uploads Scanner
<IfModule mod_rewrite.c>
    ### BEGIN banlist-items
	RewriteCond %{HTTP_REFERER} todaperfeita [NC]
	### END banlist-items
    RewriteRule (.*) - [F,L]
</IfModule>
### END security-banlist

### OPTIONAL: Add htaccess-security-cleaner
### BEGIN security-cleaner
### END security-cleaner

### OPTIONAL: Add htaccess-cache
### BEGIN htaccess-cache
### END htaccess-cache

<IfModule mod_rewrite.c>
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-l
   RewriteRule ^(.*) /index.php [L,QSA]
</IfModule>

### REQUIRE: Add htaccess-security
### BEGIN htaccess-security
### END htaccess-security

### OPTIONAL: Add htaccess-security-cors
### BEGIN security-cors
### END security-cors
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

### OPTIONAL: Add htaccess-security-x-frame-options
### BEGIN x-frame-options
<IfModule mod_headers.c>
    ### BEGIN x-frame-items
	Header always set X-Frame-Options enzoromano.eu
	Header always set X-Frame-Options carminerumma.it
	### END x-frame-items
</IfModule>
### END x-frame-options

### OPTIONAL: Add htaccess-security-content-security-policy
### BEGIN security-policy
### END security-policy

### OPTIONAL: Add htaccess-security-advanced
### BEGIN security-advanced
### END security-advanced
